.payment-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333; /* Preto */
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333; /* Preto */
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list-item {
    margin: 10px 0;
  }
  
  .link {
    display: block;
    padding: 10px;
    background-color: #333; /* Preto */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .link:hover {
    background-color: #555; /* Um tom mais claro de preto para o hover */
  }
  