.web-app {
    font-family: Arial, sans-serif;
  }
  
  .nav {
    background-color: #333; /* Preto */
    overflow: hidden;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    flex: 1;
  }
  
  .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #111;
  }
  